/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333; /* Prevent inheritance from `body` */
}
html[dir] .btn-default, html[dir] .btn-default:hover, html[dir] .btn-default:focus {
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
}
html[dir] body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
html[dir] .site-wrapper {
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
html[dir="ltr"] .cover-container {
  margin-right: auto;
  margin-left: auto;
}
html[dir="rtl"] .cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
html[dir] .inner {
  padding: 30px;
}


/*
 * Header
 */
html[dir] .masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
html[dir="ltr"] .masthead-nav > li + li {
  margin-left: 20px;
}
html[dir="rtl"] .masthead-nav > li + li {
  margin-right: 20px;
}
.masthead-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}
html[dir] .masthead-nav > li > a {
  border-bottom: 2px solid transparent;
}
html[dir="ltr"] .masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
}
html[dir="rtl"] .masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
}
html[dir] .masthead-nav > li > a:hover, html[dir] .masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
}
html[dir] .masthead-nav > .active > a, html[dir] .masthead-nav > .active > a:hover, html[dir] .masthead-nav > .active > a:focus {
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  html[dir="ltr"] .masthead-brand {
    float: left;
  }
  html[dir="rtl"] .masthead-brand {
    float: right;
  }
  html[dir="ltr"] .masthead-nav {
    float: right;
  }
  html[dir="rtl"] .masthead-nav {
    float: left;
  }
}


/*
 * Cover
 */

html[dir] .cover {
  padding: 0 20px;
}
.cover .btn-lg {
  font-weight: bold;
}
html[dir] .cover .btn-lg {
  padding: 10px 20px;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
