html[dir] body {
  padding-top: 20px;
}

html[dir] .footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
html[dir] .jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
}
html[dir] .jumbotron .btn {
  padding: 14px 24px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

html[dir] .nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  font-weight: bold;
  color: #777; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ /* Repeat the gradient */
}
html[dir] .nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  text-align: center;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  background-repeat: repeat-x;
  border-bottom: 1px solid #d5d5d5;
}
html[dir="ltr"] .nav-justified > li > a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
}
html[dir="rtl"] .nav-justified > li > a {
  background-image: -webkit-gradient(linear, right top, right bottom, from(#f5f5f5), to(#e5e5e5));
}
html[dir] .nav-justified > .active > a, html[dir] .nav-justified > .active > a:hover, html[dir] .nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
html[dir] .nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
html[dir] .nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  html[dir="ltr"] .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  html[dir="rtl"] .nav-justified > li > a {
    border-right: 1px solid #fff;
    border-left: 1px solid #d5d5d5;
  }
  html[dir="ltr"] .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  html[dir="rtl"] .nav-justified > li:first-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
  html[dir="ltr"] .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
  html[dir="rtl"] .nav-justified > li:last-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  html[dir="ltr"] .masthead, html[dir="ltr"] .marketing, html[dir="ltr"] .footer {
    padding-right: 0;
    padding-left: 0;
  }
  html[dir="rtl"] .masthead, html[dir="rtl"] .marketing, html[dir="rtl"] .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
